src/*.exe
src/breedsystems
src/breedsystemsd
src/test_breedsystems
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.breedsystems

# Compilation and Qt preprocessor part
*.qm
Makefile
breedsystems-qt
BreedSystems-Qt.app

# Unit-tests
Makefile.test
breedsystems-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
